.largura {
	width: 700px;
	margin: auto;
}

.menu {
	font-size: 18px;
	font-family: 'IM Fell English SC', serif;
	width: 700px;
	margin:auto;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.menu > a {
	text-decoration: none;
	color: black;
	margin-right: 20px;
}

.menu > a:visited {
	color: pink;
}

h1 {
	font-family: 'Amatic SC', cursive;
	text-align: center;
	color: 	#992244;
	border-bottom: 2px dotted black;
}

.menu > a:hover {
	color: 	#900020;
}

div {
	text-align: center;
}

.conteudo {
	font-family: 'Amatic SC', cursive;
	text-align: center;
	color: 	#992244;
	line-height: 35px;
	font-size: 30px;
}

.foto {
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
}

.selecionado {
	border-bottom: 2px dotted black;
}
